<section class="flex flex-col items-center justify-center min-h-[80vh] text-center px-6">
  <h1 class="rubik-title text-5xl md:text-5xl font-bold mb-6 text-(--text-color)">
    Controla tus finanzas con <div class="rubik-title text-2xl font-bold" style="color: var(--text-color);">fincer<span class="text-(--accent-color)">5</span></div>
  </h1>
  <p class="max-w-2xl text-lg mb-8 opacity-80">
    La plataforma multimoneda diseñada para freelancers que buscan simplicidad y potencia en su gestión diaria.
  </p>
  <button routerLink="/contact" class="btn-primary text-xl px-8 py-4">
    Empezar ahora
  </button>
</section>